.error{
    color:rgb(245, 100, 47)
}
.invertida{
    filter: hue-rotate(180deg);
    -webkit-transform: scale(-1);
    transform: scale(-1);
}
.audio-width{
    width: 95%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive !important;
}